.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  background-color: #373737;
  box-shadow: 1px 1px 4px #302e2ece;
  width: auto;
  margin: 10px 5px 5px 10px;
  height: 450px;
  position: -webkit-sticky;
  position: sticky; top: 0px;
}

.user__profilePicture {
  text-align: center;
  align-items: center;
}

.mainUserImage {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.user__userName {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-family: 'open sans', sans-serif
}

sup {
  color: limegreen;
  font-size: 18px;
}

.user__userName > p {
  font-size: 16px;
  color: whitesmoke;
  margin: 0;
}

.navBar {
  height: 100%;
}