#root > .card {
    max-width: 400px;
    margin: 10px auto;
}
  
  button:disabled,
  button:disabled:hover {
    background-color: lightgray;
}

.card-content > li {
  font-weight: 400;
  list-style-type: none;
}

.card-content > li:nth-child(4) {
  margin-top: 30px;
}

.card-content > li > span {
  font-weight: 700;
}