@import "./MessageForm.css";
@import "./MessageCard.css";
@import "./MessageEditForm.css";


.mainFlex__subpage {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px 20px 0 0;
  padding: 10px 60px;
}