h2 {
  font-size: 100%;
  margin-top: 0;
}

header {
  background-color: black;
  border: black solid 3px;
}

.site-title {
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

picture {
  width: 20%;
  height: auto;
  margin-top: 20px;
}

/* .bannerLogo {
  width: 20%;
  height: auto;
} */

nav .container {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

nav .container li {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 1.15em;
  color: silver;
  box-sizing: border-box;
  background-color: lightgrey;
  list-style-type: none;
}

.nav-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: orangered;
}